{{ partial('_partials/world-meta.njk', {document: post}) }}
<div class="post-meta world-reading-stats">
  {{- next_inject('postMeta') }}

  {%- if theme.symbols_count_time.separated_meta and config.symbols_count_time.symbols and config.symbols_count_time.time %}
    <span class="post-meta-break"></span>
  {%- endif %}

  {%- if config.symbols_count_time.symbols %}
    <span class="post-meta-item" title="{{ __('symbols_count_time.count') }}">
      <span class="post-meta-item-icon">
        <i class="far fa-file-word"></i>
      </span>
      <span class="post-meta-item-text">{{ __('symbols_count_time.count') + __('symbol.colon') }}</span>
      <span>{{ symbolsCount(post) }}</span>
    </span>
  {%- endif %}

  {%- if config.symbols_count_time.time %}
    <span class="post-meta-item" title="{{ __('symbols_count_time.time') }}">
      <span class="post-meta-item-icon">
        <i class="far fa-clock"></i>
      </span>
      <span class="post-meta-item-text">{{ __('symbols_count_time.time') }} &asymp;</span>
      <span>{{ symbolsTime(post, config.symbols_count_time.awl, config.symbols_count_time.wpm, __('symbols_count_time.time_minutes')) }}</span>
    </span>
  {%- endif %}
</div>
